<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NBA Stats</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body style = "background: url(nbabrick.jpeg); background-size: 90%">
  <div>
    <h1>Player Statistics</h1>
  </div>

    <nav>
      <ul>
        <li><a href="#">Salary</a></li>
        <li><a href="#">Age Distribution</a></li>
        <li><a href="stats.html">Stats</a></li>
      </ul>
    </nav>

</body>

</html>
